<%- include('./partials/head') %>

    <main>
            <!-- First grid-container for the first post -->
            <section class="grid">
                <% if (posts.length > 0) { %>
                    <% const firstPost = posts[0]; %>
                    <% const firstPostCategories = firstPost.categories.map(categoryId => categories.find(category => category.id === categoryId)); %>
                    <% if (firstPostCategories.length > 0) { %>
                        <% const firstPostCategory = firstPostCategories[0]; %>
                        <a href="<%= firstPostCategory.slug %>/<%= firstPost.slug %>" class="article-link featured-text">
                            <article class="article featured">
                                <h3 class="headline featured">
                                    <%- firstPost.title.rendered %>
                                </h3>
                                <img src="<%= firstPost.jetpack_featured_media_url %>" class="featured-image-mobile" alt="Post Image">                         
                                <div class="featured-text">
                                    <%- firstPost.excerpt.rendered %>
                                </div>
                                </h3>
                                <hr>
                                <div class="post-meta">
                                    <span class="author"><%= firstPost.yoast_head_json.author %></span>
                                    <span class="reading-time">| <%= firstPost.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
                                </div>                                
                            </article>
                        </a>
                        <a href="<%= firstPostCategory.slug %>/<%= firstPost.slug %>" class="article-link featured-image">
                            <article class="article featured">
                                <img src="<%= firstPost.jetpack_featured_media_url %>" alt="Post Image">                         
                            </article>
                        </a>
                    <% } %>
                <% } %>
            </section>

            <!-- Second grid-container for remaining posts -->
            <section class="article-list">
                <% posts.slice(1).forEach(post => { %>
                    <% const primaryCategory = categories.find(category => category.id === post.categories[0]); %>
                    <% if (primaryCategory) { %>
                        <a href="<%= primaryCategory.slug %>/<%= post.slug %>" class="article-link">
                    <% } %>
                    <% }); %>
                    <article class="article">
                        <img src="<%= post.jetpack_featured_media_url %>" alt="Post Image">
                        <h3 class="headline">
                            <%- post.title.rendered %>
                        </h3>
                        <hr>
                        <div class="post-meta">
                            <span class="author"><%= post.yoast_head_json.author %></span>
                            <span class="reading-time">| <%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
                        </div>          
                    </article>
                    </a>
                <% }); %>
            </section>

        
        
    </main>

    <%- include('./partials/foot') %>