<%- include('./partials/head') %>
</head>
<%- include('./partials/nav') %>

<main>
    <!-- Featured post -->
    <% if (posts.length > 0) { %>
        <% const featuredPost = posts[0]; %>
        <% const featuredCategory = categories.find(category => category.id === featuredPost.categories[0]); %>
        <% if (featuredCategory) { %>
            <section class="grid">
                <a href="<%= featuredCategory.slug %>/<%= featuredPost.slug %>" class="article-link featured-text">
                    <article class="article featured">
                        <h3 class="headline featured">
                            <%- featuredPost.title.rendered %>
                        </h3>
                        
                        <img src="<%= featuredPost.jetpack_featured_media_url %>" class="featured-image-mobile" alt="Post Image">
                        <div class="featured-text">
                            <%- featuredPost.excerpt.rendered %>
                        </div>
                        <hr>
                        <div class="post-meta">
                            <span class="author"><%= featuredPost.yoast_head_json.author %></span>
                            <span class="reading-time">| <%= featuredPost.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
                        </div>
                    </article>
                </a>
                <a href="<%= featuredCategory.slug %>/<%= featuredPost.slug %>" class="article-link featured-image">
                    <article class="article featured">
                        <img src="<%= featuredPost.jetpack_featured_media_url %>" alt="Post Image">
                    </article>
                </a>
            </section>
        <% } %>
    <% } %>

    <!-- Remaining posts -->
    <section class="article-list">
        <% posts.slice(1).forEach(post => { %>
            <% const postCategory = categories.find(category => category.id === post.categories[0]); %>
            <% if (postCategory) { %>
                <a href="<%= postCategory.slug %>/<%= post.slug %>" class="article-link">
                    <article class="article">
                        <img src="<%= post.jetpack_featured_media_url %>" alt="Post Image">
                        <h3 class="headline">
                            <%- post.title.rendered %>
                        </h3>
                        <hr>
                        <div class="post-meta">
                            <span class="author"><%= post.yoast_head_json.author %></span>
                            <span class="reading-time">| <%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
                        </div>
                    </article>
                </a>
            <% } %>
        <% }); %>
    </section>
</main>

<%- include('./partials/foot') %>
